{% extends 'base.jinja2' %}

{% block subtitle %}Billing Report{% endblock subtitle %}

{% block content %}
<ul>
    {% for user in users %}
        <li><b>{{ bills_total }}</b>: {{ user.username }}, {{ user.amt_owed }}</li>
    {% endfor %}
</ul>
{% endblock content %}
