{% extends 'base.jinja2' %}

{% block subtitle %}Billing Report{% endblock subtitle %}

{% block content %}
<ul>
    <li><b>{{ bills_total }}</b>: {{ bill_cpd }}, {{ user_totals }}</li>
</ul>
{% endblock content %}
