{% extends 'base.jinja2' %}

{% block subtitle %}Users{% endblock subtitle %}

{% block content %}
<ul>
    {% for user in all_users %}
        <li><b>{{ user.username }}</b>: {{ user.move_in }}, {{ user.move_out }}</li>
    {% endfor %}
</ul>
{% endblock content %}
