{% extends 'base.jinja2' %}

{% block subtitle %}Users{% endblock subtitle %}

{% block content %}
<ul>
    {% for user in users %}
        <li><b>{{ user.username }}</b>: {{ user.start_date }}</li>
    {% endfor %}
</ul>
{% endblock content %}